<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
  <title>HomePage</title>
</head>
<body>
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Добро пожаловать на сайт!</h1>
      <p>
        <a href="/" class="btn btn-success btn-md"> Главная страница </a>
        <a href="/news" class="btn btn-warning btn-md"> Новости &raquo; </a>
        <a href="/contacts" class="btn btn-info btn-md"> Контакты </a>
      </p>
      {% block content %}
      {% endblock %}
    </div>

  </div>

  <div class="container">
    <hr>
  &copy; Все права защищены 2018
  </div>

</body>
</html>
