<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PerfectCRM.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PerfectCRM.My.MySettings.PerfectCRMConnectionString" connectionString="Data Source=ms2;Initial Catalog=PerfectCRM;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <PerfectCRM.Settings1>
            <setting name="colorStCost" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="colorStWork" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="colorStGotov" serializeAs="String">
                <value>255, 224, 192</value>
            </setting>
            <setting name="colorStVydan" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="colorPaketLam" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="test" serializeAs="String">
                <value/>
            </setting>
            <setting name="rrr" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="TablesUniPrice" serializeAs="String">
                <value>"Services", "Design", "Materials", "PriceCost", "PriceGroup", "PriceNacenki", "PriceName", "PriceParam1", "PriceParam2", "Reclama"</value>
            </setting>
            <setting name="TablePriceServices" serializeAs="String">
                <value>PriceServices</value>
            </setting>
            <setting name="colorRed" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="colorGreen" serializeAs="String">
                <value>Lime</value>
            </setting>
        </PerfectCRM.Settings1>


      
    </userSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
