.navmenu [type="checkbox"]{
  display: none;
}

.navmenu label.toggleMenu{
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  color: gray;
  display: none;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.navmenu label.toggleMenu .fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

.navmenu label.toggleSubMenu{
  display: none;
  transition: all 0.3s ease;
}

@media all and (max-width: 800px){
  .navmenu{
    overflow:hidden;
  }

  .navmenu ul {
    display: block;
    max-height: 0;
    transition: max-height 0.3s;
  }

  .navmenu label.toggleMenu{
    display: block;
    transition: all 0.3s ease;5
  }

  input.toggleMenu:checked + label.toggleMenu{
    background: #465298;
    color: #b2b3b5;
  }

  .navmenu label.toggleSubMenu{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: block;
  }

  input.toggleMenu:checked ~ ul,
  input.toggleSubMenu:checked ~ ul{
    max-height: 5000px;
    transition: max-height 2s ease-in;
    position: relative;
    display: block;
  }

  input.toggleSubMenu:checked ~ a{
    background: #465298;
    color: white;
  }

  .navmenu ul li:hover{
    border-right: 1px solid #465298;
  }

  .navmenu label.toggleSubMenu .fa::before{
    content: "\f0d7";
    color: #b2b3b5;
    position: absolute;
    top: 15px;
    right: 30px;
  }

  input.toggleSubMenu:checked ~ label.toggleSubMenu .fa::before{
    content: "\f0d8";
    color: white;
  }


}
